@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Super Heroes</h1>
    <p class="lead">This website allows you to build a list of super heroes.</p>
</div>
<body style ="background-image: url(https://i.pinimg.com/originals/00/29/0c/00290c5e8ed7a043345f2482afe1aef7.jpg); background-size: cover"></body>

