@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Super Heroes</h1>
    <p class="lead">This website allows you to build a list of super heroes.</p>
</div>
<body style ="background-image: url(https://i2.wp.com/www.comicsbeat.com/wp-content/uploads/2018/06/Spawn286-E-OwenGieni.jpg); background-size: cover"></body>

